 body {
    background: linear-gradient(70deg, #003333, #00001a);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(playa.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner h2 {
    font-size: 3em;
    color: #e6ffe6;
    font-weight: 500;
    line-height: 1.5em;


}
.banner h2 span {
    font-size: 1.5em;
    font-weight: 100;

}
.banner h3 {
    font-size: 1.5em;
    color: #e6ffe6;
    font-weight: 500;

}
.btn {
    position: relative;
    background: #ccf2ff;
    display: inline-block;
    color: black;
    border-radius: 30%;
    border-color: burlywood;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;

}
a.logo {
    font-size: 24px;
    color: #e6ffe6;

}
header {
    
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 40px 0px ;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    

}
header.sticky {
    background:rgb(148, 163, 209);
    padding: 20px 100px;
    
    


}



header.logo {
    color: #e6ffe6;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;

}
header.sticky .logo{
    color: #e6ffe6;

}
 
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #ccf2ff;
    

    


}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #666666;

}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
}
.content {
    display: flex;
    justify-content: space-between;
}
.contentBx {
    padding-right: 30px;
    min-width: 50%;
    color: #666666;
    text-shadow: 2px 2px #00001a;
}
.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #666666;
}
.foto {
    min-width: 50%;
}
img {
    max-width: 100%;
    width: 500px;
    border-radius: 90%;
    border: 5px solid #330033



}